Repository 20250123-SSG/final-noodle-zip, pull requests merged in 2025-07, with the labels that each got.

#100 Feature/11 update user
  build.gradle
  src/main/java/noodlezip/common/auth/MyUserDetails.java
  src/main/java/noodlezip/common/config/S3Config.java
  src/main/java/noodlezip/common/config/SecurityConfig.java
  src/main/java/noodlezip/common/status/ErrorStatus.java
  src/main/java/noodlezip/common/util/FileUtil.java
  src/main/java/noodlezip/user/controller/UserController.java
  src/main/java/noodlezip/user/dto/UserDto.java
  src/main/java/noodlezip/user/service/UserService.java
  src/main/java/noodlezip/user/service/UserServiceImpl.java
  src/main/java/noodlezip/user/status/UserErrorStatus.java
  src/main/resources/application-dev.properties
  src/main/resources/templates/user/edit-profile.html
  src/test/java/noodlezip/user/service/UserServiceImplTest.java
Labels: 🐛 Bug, ✨ Feature, 🐞 Fix, 🧪 Test, 🔌 API, 🖥️ Backend

#106 Feature/73 report
  src/main/java/noodlezip/admin/controller/AdminController.java
  src/main/java/noodlezip/admin/dto/RegistListDto.java
  src/main/java/noodlezip/common/config/SecurityConfig.java
  src/main/java/noodlezip/report/controller/ReportController.java
  src/main/java/noodlezip/report/dto/ReportDto.java
  src/main/java/noodlezip/report/entity/Report.java
  src/main/java/noodlezip/report/repository/ReportRepository.java
  src/main/java/noodlezip/report/service/ReportService.java
  src/main/java/noodlezip/report/status/ReportErrorStatus.java
  src/main/java/noodlezip/report/status/ReportStatus.java
  src/main/java/noodlezip/report/status/ReportType.java
  src/main/java/noodlezip/store/constant/ApprovalStatus.java
  src/main/java/noodlezip/store/repository/StoreRepository.java
  src/main/java/noodlezip/store/repository/StoreRepositoryCustom.java
  src/main/java/noodlezip/store/repository/StoreRepositoryImpl.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/resources/static/js/reportModal.js
  src/main/resources/templates/admin/main.html
  src/main/resources/templates/admin/registList.html
  src/main/resources/templates/admin/reportList.html
  src/main/resources/templates/fragments/mainHeader.html
  src/main/resources/templates/fragments/reportModal.html
  src/main/resources/templates/fragments/subHeader.html
  src/main/resources/templates/index.html
Labels: ✨ Feature, 🐞 Fix, 🎨 Html&Css, 📝 CRUD

#109 Feature/12 board crud
  build.gradle
  src/main/generated/noodlezip/common/entity/QImage.java
  src/main/generated/noodlezip/community/dto/QCommentRespDto.java
  src/main/generated/noodlezip/community/entity/QBoard.java
  src/main/generated/noodlezip/community/entity/QComment.java
  src/main/java/noodlezip/common/auth/MyUserDetails.java
  src/main/java/noodlezip/common/config/S3Config.java
  src/main/java/noodlezip/common/config/SecurityConfig.java
  src/main/java/noodlezip/common/entity/Image.java
  src/main/java/noodlezip/common/repository/ImageRepository.java
  src/main/java/noodlezip/common/status/ErrorStatus.java
  src/main/java/noodlezip/common/util/FileUtil.java
  src/main/java/noodlezip/common/util/PageUtil.java
  src/main/java/noodlezip/community/controller/BoardController.java
  src/main/java/noodlezip/community/controller/CommentController.java
  src/main/java/noodlezip/community/dto/BoardReqDto.java
  src/main/java/noodlezip/community/dto/BoardRespDto.java
  src/main/java/noodlezip/community/dto/CommentReqDto.java
  src/main/java/noodlezip/community/dto/CommentRespDto.java
  src/main/java/noodlezip/community/entity/Board.java
  src/main/java/noodlezip/community/entity/Comment.java
  src/main/java/noodlezip/community/entity/CommunityActiveStatus.java
  src/main/java/noodlezip/community/repository/BoardRepository.java
  src/main/java/noodlezip/community/repository/CommentRepository.java
  src/main/java/noodlezip/community/repository/CommentRepositoryCustom.java
  src/main/java/noodlezip/community/repository/CommentRepositoryImpl.java
  src/main/java/noodlezip/community/service/BoardService.java
  src/main/java/noodlezip/community/service/BoardServiceImpl.java
  src/main/java/noodlezip/community/service/CommentService.java
  src/main/java/noodlezip/community/service/CommentServiceImpl.java
  src/main/java/noodlezip/community/status/BoardErrorStatus.java
  src/main/java/noodlezip/community/status/BoardSuccessStatus.java
  src/main/java/noodlezip/review/controller/setting.txt
  src/main/java/noodlezip/review/dto/setting.txt
  src/main/java/noodlezip/review/entity/setting.txt
  src/main/java/noodlezip/review/repository/setting.txt
  src/main/java/noodlezip/review/service/setting.txt
  src/main/java/noodlezip/user/controller/UserController.java
  src/main/java/noodlezip/user/dto/UserDto.java
  src/main/java/noodlezip/user/service/UserService.java
  src/main/java/noodlezip/user/service/UserServiceImpl.java
  src/main/java/noodlezip/user/status/UserErrorStatus.java
  src/main/resources/application-dev.properties
  src/main/resources/static/css/blog.css
  src/main/resources/static/css/review.css
  src/main/resources/static/js/specific_review.js
  src/main/resources/templates/board/detail.html
  src/main/resources/templates/board/leave-review.html
  src/main/resources/templates/board/list.html
  src/main/resources/templates/board/registBoard.html
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/signup.html
  src/main/resources/templates/user/edit-profile.html
  src/test/java/noodlezip/user/service/UserServiceImplTest.java
Labels: 🔌 API, 🎨 Html&Css, 🖥️ Backend, 🛢️ DB, 📝 CRUD

#113 Feature/71 report list
  src/main/java/noodlezip/admin/controller/AdminController.java
  src/main/java/noodlezip/admin/dto/RegistListDto.java
  src/main/java/noodlezip/common/config/SecurityConfig.java
  src/main/java/noodlezip/report/controller/ReportController.java
  src/main/java/noodlezip/report/dto/ReportDto.java
  src/main/java/noodlezip/report/dto/ReportRequestDto.java
  src/main/java/noodlezip/report/dto/ReportResponseDto.java
  src/main/java/noodlezip/report/dto/ReportedCommentDto.java
  src/main/java/noodlezip/report/entity/Report.java
  src/main/java/noodlezip/report/repository/ReportRepository.java
  src/main/java/noodlezip/report/repository/ReportRepositoryCustom.java
  src/main/java/noodlezip/report/repository/ReportRepositoryImpl.java
  src/main/java/noodlezip/report/service/ReportService.java
  src/main/java/noodlezip/report/status/ReportStatus.java
  src/main/java/noodlezip/report/status/ReportType.java
  src/main/java/noodlezip/store/repository/StoreRepositoryImpl.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/resources/static/css/custom.css
  src/main/resources/templates/admin/main.html
  src/main/resources/templates/admin/registList.html
  src/main/resources/templates/admin/reportList.html
  src/test/java/noodlezip/report/service/ReportServiceTest.java
Labels: ✨ Feature, 🐞 Fix, ♻️ Refactor, 🧪 Test, 🖥️ Backend, 📝 CRUD

#114 Test/13 board test
  src/main/java/noodlezip/community/controller/BoardController.java
  src/main/java/noodlezip/community/controller/CommentController.java
  src/main/java/noodlezip/community/dto/BoardReqDto.java
  src/main/java/noodlezip/community/dto/BoardRespDto.java
  src/main/java/noodlezip/community/dto/CommentRespDto.java
  src/main/java/noodlezip/community/repository/CommentRepositoryImpl.java
  src/main/java/noodlezip/community/service/BoardService.java
  src/main/java/noodlezip/community/service/BoardServiceImpl.java
  src/main/java/noodlezip/community/service/CommentServiceImpl.java
  src/test/java/noodlezip/community/service/BoardServiceImplTest.java
  src/test/java/noodlezip/community/service/CommentServiceImplTest.java
Labels: 🐛 Bug, ♻️ Refactor, 🧪 Test, 🖥️ Backend

#117 Feature/14 likes
  src/main/generated/noodlezip/badge/entity/QBadge.java
  src/main/generated/noodlezip/badge/entity/QBadgeCategory.java
  src/main/generated/noodlezip/badge/entity/QBadgeExtraOption.java
  src/main/generated/noodlezip/badge/entity/QBadgeGroup.java
  src/main/generated/noodlezip/badge/entity/QBadgePolicy.java
  src/main/generated/noodlezip/badge/entity/QUserBadge.java
  src/main/generated/noodlezip/common/entity/QBaseTimeEntity.java
  src/main/generated/noodlezip/common/entity/QImage.java
  src/main/generated/noodlezip/community/dto/QCommentRespDto.java
  src/main/generated/noodlezip/community/entity/QBoard.java
  src/main/generated/noodlezip/community/entity/QBoardUserId.java
  src/main/generated/noodlezip/community/entity/QComment.java
  src/main/generated/noodlezip/community/entity/QLike.java
  src/main/generated/noodlezip/ramen/entity/QCategory.java
  src/main/generated/noodlezip/ramen/entity/QRamenReview.java
  src/main/generated/noodlezip/ramen/entity/QRamenSoup.java
  src/main/generated/noodlezip/ramen/entity/QRamenTopping.java
  src/main/generated/noodlezip/ramen/entity/QRamenToppingId.java
  src/main/generated/noodlezip/ramen/entity/QReviewTopping.java
  src/main/generated/noodlezip/ramen/entity/QReviewToppingId.java
  src/main/generated/noodlezip/ramen/entity/QTopping.java
  src/main/generated/noodlezip/report/entity/QReport.java
  src/main/generated/noodlezip/savedstore/entity/QSavedStore.java
  src/main/generated/noodlezip/savedstore/entity/QSavedStoreCategory.java
  src/main/generated/noodlezip/savedstore/entity/QSavedStoreLocation.java
  src/main/generated/noodlezip/store/entity/QMenu.java
  src/main/generated/noodlezip/store/entity/QStore.java
  src/main/generated/noodlezip/store/entity/QStoreExtraTopping.java
  src/main/generated/noodlezip/store/entity/QStoreLocation.java
  src/main/generated/noodlezip/store/entity/QStoreWeekSchedule.java
  src/main/generated/noodlezip/store/entity/QStoreWeekScheduleId.java
  src/main/generated/noodlezip/user/entity/QUser.java
  src/main/java/noodlezip/common/util/RequestParserUtil.java
  src/main/java/noodlezip/community/controller/BoardController.java
  src/main/java/noodlezip/community/dto/BoardRespDto.java
  src/main/java/noodlezip/community/dto/LikeResponseDto.java
  src/main/java/noodlezip/community/entity/BoardUserId.java
  src/main/java/noodlezip/community/entity/Like.java
  src/main/java/noodlezip/community/repository/LikeRepository.java
  src/main/java/noodlezip/community/scheduling/CommunityScheduler.java
  src/main/java/noodlezip/community/service/BoardService.java
  src/main/java/noodlezip/community/service/BoardServiceImpl.java
  src/main/java/noodlezip/community/status/BoardSuccessStatus.java
  src/main/resources/templates/board/detail.html
  src/test/java/noodlezip/community/service/BoardServiceImplTest.java
Labels: 🐞 Fix, 🧪 Test, 🔌 API, 🖥️ Backend, 🛢️ DB

#118 Feature/16 ocr
  src/main/java/noodlezip/common/config/SecurityConfig.java
  src/main/java/noodlezip/ocr/controller/OcrController.java
  src/main/java/noodlezip/ocr/dto/visitCheckingDto.java
  src/main/java/noodlezip/ocr/service/OcrParser.java
  src/main/java/noodlezip/ocr/service/OcrService.java
  src/main/java/noodlezip/ocr/util/OcrUtil.java
  src/main/java/noodlezip/ramen/entity/RamenReview.java
  src/main/java/noodlezip/ramen/repository/RamenReviewRepositoryCustom.java
  src/main/java/noodlezip/ramen/repository/RamenReviewRepositoryImpl.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/resources/application.properties
  src/main/resources/templates/admin/main.html
  src/main/resources/templates/admin/registList.html
  src/main/resources/templates/admin/reportList.html
  src/main/resources/templates/receipt.html
Labels: ✨ Feature, 🐞 Fix, 🎨 Html&Css, 🖥️ Backend

#133 Test : StoreServiceTest 코드 수정
  src/test/java/noodlezip/savedstore/service/SavedStoreServiceImplTest.java
Labels: 🐞 Fix, 🧪 Test

#141 Feature/137 search
  src/main/generated/noodlezip/store/entity/QStore.java
  src/main/generated/noodlezip/store/entity/QStoreLocation.java
  src/main/generated/noodlezip/store/entity/QStoreWeekSchedule.java
  src/main/java/noodlezip/common/config/SecurityConfig.java
  src/main/java/noodlezip/community/controller/BoardController.java
  src/main/java/noodlezip/community/repository/BoardRepositoryCustom.java
  src/main/java/noodlezip/community/repository/BoardRepositoryImpl.java
  src/main/java/noodlezip/community/service/BoardService.java
  src/main/java/noodlezip/community/service/BoardServiceImpl.java
  src/main/resources/templates/board/list.html
  src/test/java/noodlezip/search/controller/SearchControllerTest.java
Labels: 🔌 API, 🖥️ Backend, 🛢️ DB

#148 Feature/147 my pageboard api
  src/main/java/noodlezip/community/repository/BoardRepositoryCustom.java
  src/main/java/noodlezip/community/repository/BoardRepositoryImpl.java
  src/main/java/noodlezip/community/repository/CommentRepositoryCustom.java
  src/main/java/noodlezip/community/repository/CommentRepositoryImpl.java
  src/main/java/noodlezip/community/repository/LikeRepository.java
  src/main/java/noodlezip/community/service/BoardService.java
  src/main/java/noodlezip/community/service/BoardServiceImpl.java
  src/main/java/noodlezip/community/service/CommentService.java
  src/main/java/noodlezip/community/service/CommentServiceImpl.java
  src/test/java/noodlezip/community/service/BoardServiceImplTest.java
Labels: ✨ Feature, 🔌 API, 🖥️ Backend, 📝 CRUD

#145 Feature/56 store save
  src/main/java/noodlezip/ramen/dto/ToppingResponseDto.java
  src/main/java/noodlezip/store/controller/StoreController.java
  src/main/java/noodlezip/store/controller/StoreRegistController.java
  src/main/java/noodlezip/store/dto/ExtraToppingRequestDto.java
  src/main/java/noodlezip/store/dto/MenuRequestDto.java
  src/main/java/noodlezip/store/dto/StoreRequestDto.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/java/noodlezip/store/status/StoreErrorCode.java
  src/main/resources/templates/store/regist.html
Labels: 🐛 Bug, ✨ Feature, 🐞 Fix, 🎨 Html&Css, 🖥️ Backend, 🛢️ DB, 🧭 Routing, 🖱️ UX, 📜 JavaScript, 📝 CRUD

#150 Fix/139 header UI
  src/main/java/noodlezip/common/config/SecurityConfig.java
  src/main/java/noodlezip/savedstore/service/SavedStoreServiceImpl.java
  src/main/java/noodlezip/search/controller/SearchController.java
  src/main/resources/static/css/custom.css
  src/main/resources/static/css/detail-custom.css
  src/main/resources/static/css/header.css
  src/main/resources/static/css/listing.css
  src/main/resources/static/css/search-custom.css
  src/main/resources/static/js/common_func.js
  src/main/resources/static/js/main_navermap.scripts.js
  src/main/resources/templates/fragments/mainHeader.html
  src/main/resources/templates/fragments/searchModal.html
  src/main/resources/templates/fragments/signin-modal.html
  src/main/resources/templates/fragments/subHeader.html
  src/main/resources/templates/index.html
  src/main/resources/templates/search/listing-map.html
  src/main/resources/templates/store/blog-sticky-header.html
  src/main/resources/templates/store/detail-restaurant-2.html
  src/main/resources/templates/store/detail.html
  src/main/resources/templates/store/footer.html
  src/main/resources/templates/store/head.html
  src/main/resources/templates/store/header.html
  src/main/resources/templates/store/signin-modal.html
Labels: 🐞 Fix, ♻️ Refactor, 🎨 Html&Css, 🖱️ UX, 📜 JavaScript

#151 Feature/149 마이페이지 연동 api 엔드포인트 수정 및 문서화
  src/main/java/noodlezip/badge/controller/MyBadgeController.java
  src/main/java/noodlezip/mypage/controller/MyBaseController.java
  src/main/java/noodlezip/mypage/controller/MyPageMainController.java
  src/main/java/noodlezip/mypage/dto/MyPageAuthorityContext.java
  src/main/java/noodlezip/mypage/dto/UserAccessInfo.java
  src/main/java/noodlezip/savedstore/controller/MySavedStoreController.java
  src/main/java/noodlezip/savedstore/controller/MySavedStoreMapController.java
  src/main/java/noodlezip/savedstore/controller/SaveStoreCategoryController.java
  src/main/java/noodlezip/subscription/controller/MyUserSubscribeController.java
  src/main/java/noodlezip/subscription/dto/response/SubscriptionPageResponse.java
  src/main/java/noodlezip/subscription/service/SubscribeServiceImpl.java
  src/main/resources/static/js/badge.js
  src/main/resources/static/js/saved-store-category-update.js
  src/main/resources/static/js/saved-store-map.js
  src/main/resources/static/js/saved-store-search.js
  src/main/resources/templates/mypage/savedStore.html
  src/main/resources/templates/mypage/subscription.html
Labels: ♻️ Refactor, 🔌 API, 📜 JavaScript

#153 Fix/140 store detail review
  src/main/java/noodlezip/ramen/repository/RamenReviewRepositoryImpl.java
  src/main/java/noodlezip/store/controller/StoreController.java
  src/main/java/noodlezip/store/dto/ReviewSummaryDto.java
  src/main/java/noodlezip/store/dto/StoreReviewDto.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/resources/templates/store/detail.html
  src/main/resources/templates/store/fragments/tab-menu.html
  src/main/resources/templates/store/fragments/tab-review.html
Labels: 🐞 Fix, 🎨 Html&Css, 🖥️ Backend

#152 Feature/27 내가 작성한 게시글, 내가 작성한 댓글, 내가 좋아요한 게시글 조회 기능 구현
  src/main/java/noodlezip/badge/service/MyBadgeServiceImpl.java
  src/main/java/noodlezip/badge/status/BadgeErrorStatus.java
  src/main/java/noodlezip/community/repository/CommentRepositoryCustom.java
  src/main/java/noodlezip/community/repository/CommentRepositoryImpl.java
  src/main/java/noodlezip/community/service/BoardService.java
  src/main/java/noodlezip/community/service/CommentService.java
  src/main/java/noodlezip/community/service/CommentServiceImpl.java
  src/main/java/noodlezip/mypage/constant/MyCommunityType.java
  src/main/java/noodlezip/mypage/constant/MyPageUrlPolicy.java
  src/main/java/noodlezip/mypage/controller/MyBaseController.java
  src/main/java/noodlezip/mypage/controller/MyCommunityController.java
  src/main/java/noodlezip/mypage/dto/response/MyBoardListPageResponse.java
  src/main/java/noodlezip/mypage/dto/response/MyCommentListPageResponse.java
  src/main/java/noodlezip/mypage/dto/response/MyCommentResponse.java
  src/main/java/noodlezip/mypage/service/MyCommunityService.java
  src/main/java/noodlezip/mypage/service/MyCommunityServiceImpl.java
  src/main/java/noodlezip/mypage/status/MyPageErrorStatus.java
  src/main/java/noodlezip/savedstore/service/MySavedStoreServiceImpl.java
  src/main/java/noodlezip/savedstore/status/SavedStoreErrorStatus.java
  src/main/java/noodlezip/subscription/service/SubscribeServiceImpl.java
  src/main/java/noodlezip/subscription/status/SubscriptionErrorStatus.java
  src/main/java/noodlezip/user/service/UserService.java
  src/main/java/noodlezip/user/service/UserServiceImpl.java
  src/main/resources/templates/mypage/myBoard.html
  src/main/resources/templates/mypage/myComment.html
  src/test/java/noodlezip/badge/service/MyBadgeServiceImplTest.java
  src/test/java/noodlezip/badge/service/process/level/LevelDirectUpdateProcessorTest.java
  src/test/java/noodlezip/badge/service/process/level/RamenReviewSidoRegionBadgeTest.java
  src/test/java/noodlezip/subscription/service/SubscribeServiceImplTest.java
Labels: ✨ Feature, 🔌 API, 🎨 Html&Css, 📜 JavaScript

#155 Feature/142 게시판 사이드바 기능 추가 및 헤더 수정
  src/main/java/noodlezip/community/controller/BoardController.java
  src/main/java/noodlezip/community/dto/CategoryCountDto.java
  src/main/java/noodlezip/community/dto/PopularTagDto.java
  src/main/java/noodlezip/community/repository/BoardRepositoryCustom.java
  src/main/java/noodlezip/community/repository/BoardRepositoryImpl.java
  src/main/java/noodlezip/community/service/BoardService.java
  src/main/java/noodlezip/community/service/BoardServiceImpl.java
  src/main/java/noodlezip/community/status/CommunityType.java
  src/main/java/noodlezip/ramen/repository/RamenReviewRepositoryCustom.java
  src/main/java/noodlezip/ramen/repository/RamenReviewRepositoryImpl.java
  src/main/java/noodlezip/ramen/service/RamenService.java
  src/main/resources/static/css/blog.css
  src/main/resources/static/css/header.css
  src/main/resources/static/css/listing.css
  src/main/resources/static/css/style.css
  src/main/resources/static/js/common_func.js
  src/main/resources/templates/board/detail.html
  src/main/resources/templates/board/list.html
  src/main/resources/templates/fragments/boardSidebar.html
  src/main/resources/templates/fragments/head.html
  src/main/resources/templates/fragments/mainHeader.html
  src/main/resources/templates/fragments/subHeader.html
  src/main/resources/templates/index.html
  src/main/resources/templates/search/listing-map.html
  src/main/resources/templates/store/detail.html
Labels: ✨ Feature, 🐞 Fix, 🖥️ Backend, 🛢️ DB, 📝 CRUD

#158 Refactor/143 배지 로직 리팩토링 및 마이페이지 데이터 반환 로직 작성
  src/main/java/noodlezip/badge/constants/BadgeEventType.java
  src/main/java/noodlezip/badge/constants/UserEventType.java
  src/main/java/noodlezip/badge/dto/request/BadgeExtraOptionRequest.java
  src/main/java/noodlezip/badge/dto/request/EmptyInfoRequest.java
  src/main/java/noodlezip/badge/dto/request/RamenReviewBadgeRequest.java
  src/main/java/noodlezip/badge/entity/Badge.java
  src/main/java/noodlezip/badge/entity/BadgePolicy.java
  src/main/java/noodlezip/badge/entity/UserBadge.java
  src/main/java/noodlezip/badge/events/BasicBadgeEvent.java
  src/main/java/noodlezip/badge/events/RamenReviewBadgeEvent.java
  src/main/java/noodlezip/badge/repository/UserBadgeQueryRepository.java
  src/main/java/noodlezip/badge/repository/UserBadgeQueryRepositoryImpl.java
  src/main/java/noodlezip/badge/service/BadgeCategoryServiceImpl.java
  src/main/java/noodlezip/badge/service/BadgeServiceImpl.java
  src/main/java/noodlezip/badge/service/MyBadgeService.java
  src/main/java/noodlezip/badge/service/MyBadgeServiceImpl.java
  src/main/java/noodlezip/badge/service/UserBadgeService.java
  src/main/java/noodlezip/badge/service/UserBadgeServiceImpl.java
  src/main/java/noodlezip/badge/service/event/BadgeEventReader.java
  src/main/java/noodlezip/badge/service/event/comment/CommentPostEvent.java
  src/main/java/noodlezip/badge/service/event/community/CommunityLikeEvent.java
  src/main/java/noodlezip/badge/service/event/community/CommunityPostEvent.java
  src/main/java/noodlezip/badge/service/event/review/RamenReviewLikeEvent.java
  src/main/java/noodlezip/badge/service/event/review/RamenReviewPostEvent.java
  src/main/java/noodlezip/badge/service/listeners/CommentPostListener.java
  src/main/java/noodlezip/badge/service/listeners/CommunityLikeListener.java
  src/main/java/noodlezip/badge/service/listeners/CommunityPostListener.java
  src/main/java/noodlezip/badge/service/listeners/RamenReviewLikeListener.java
  src/main/java/noodlezip/badge/service/listeners/RamenReviewPostListener.java
  src/main/java/noodlezip/badge/service/process/level/LevelDirectUpdateProcessor.java
  src/main/java/noodlezip/badge/service/process/level/RamenReviewCategoryBadge.java
  src/main/java/noodlezip/badge/service/process/level/RamenReviewSidoRegionBadge.java
  src/main/java/noodlezip/badge/status/BadgeErrorStatus.java
  src/main/java/noodlezip/common/config/AsyncConfig.java
  src/main/java/noodlezip/savedstore/controller/SaveStoreController.java
  src/main/java/noodlezip/savedstore/dto/request/SavedStoreCategoryFilterRequest.java
  src/main/java/noodlezip/savedstore/dto/response/SavedStoreCategoryResponse.java
  src/main/java/noodlezip/savedstore/service/SavedStoreServiceImpl.java
  src/main/java/noodlezip/subscription/service/SubscribeService.java
  src/main/java/noodlezip/subscription/service/SubscribeServiceImpl.java
Labels: ♻️ Refactor, 🖥️ Backend

#167 fix: application.properties 수정
  src/main/generated/noodlezip/community/entity/QBoard.java
  src/main/java/noodlezip/common/util/ValidationUtil.java
  src/main/java/noodlezip/community/entity/Board.java
  src/main/resources/application-prod.properties
Labels: 🚀 Deploy, 📌 Priority

#169 Feature/165 review delete
  src/main/java/noodlezip/community/service/BoardServiceImpl.java
  src/main/java/noodlezip/ramen/repository/RamenReviewRepositoryCustom.java
  src/main/java/noodlezip/ramen/repository/RamenReviewRepositoryImpl.java
  src/main/java/noodlezip/ramen/repository/ReviewToppingRepositoryCustom.java
  src/main/java/noodlezip/ramen/repository/ReviewToppingRepositoryImpl.java
  src/test/java/noodlezip/community/service/BoardServiceImplTest.java
Labels: ✨ Feature, 🧪 Test, 🖥️ Backend, 🛢️ DB, 📝 CRUD

#177 Feature/store Update & Delete
  src/main/java/noodlezip/common/util/FileUtil.java
  src/main/java/noodlezip/mypage/controller/MyPageMainController.java
  src/main/java/noodlezip/ramen/repository/RamenToppingRepository.java
  src/main/java/noodlezip/store/controller/StoreController.java
  src/main/java/noodlezip/store/controller/StoreRegistController.java
  src/main/java/noodlezip/store/dto/ExtraToppingRequestDto.java
  src/main/java/noodlezip/store/dto/MenuRequestDto.java
  src/main/java/noodlezip/store/dto/StoreRequestDto.java
  src/main/java/noodlezip/store/dto/StoreScheduleRequestDto.java
  src/main/java/noodlezip/store/entity/Menu.java
  src/main/java/noodlezip/store/entity/StoreWeekSchedule.java
  src/main/java/noodlezip/store/repository/MenuRepository.java
  src/main/java/noodlezip/store/repository/StoreExtraToppingRepository.java
  src/main/java/noodlezip/store/repository/StoreRepository.java
  src/main/java/noodlezip/store/repository/StoreWeekScheduleRepository.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/java/noodlezip/store/status/StoreErrorCode.java
  src/main/java/noodlezip/store/status/StoreSuccessCode.java
  src/main/resources/templates/store/detail.html
  src/main/resources/templates/store/regist.html
  src/main/resources/templates/store/update.html
  src/test/java/noodlezip/store/LocationTest/LocationServiceTest.java
  src/test/java/noodlezip/store/LocationTest/LocationTestController.java
  src/test/java/noodlezip/store/controller/StoreControllerIntegrationTest.java
Labels: ✨ Feature, 🐞 Fix, 🖥️ Backend, 🛢️ DB, 🧭 Routing, 📜 JavaScript, 📝 CRUD

#200 Refactor/180 mypage
  src/main/java/noodlezip/badge/controller/MyBadgeController.java
  src/main/java/noodlezip/badge/repository/UserBadgeQueryRepositoryImpl.java
  src/main/java/noodlezip/badge/service/BadgeServiceImpl.java
  src/main/java/noodlezip/community/repository/CommentRepositoryImpl.java
  src/main/java/noodlezip/mypage/controller/MyPageMainController.java
  src/main/java/noodlezip/mypage/dto/response/MyCommentResponse.java
  src/main/java/noodlezip/savedstore/controller/MySavedStoreController.java
  src/main/java/noodlezip/savedstore/dto/request/SavedStoreCategoryFilterRequest.java
  src/main/java/noodlezip/savedstore/service/MySavedStoreService.java
  src/main/java/noodlezip/savedstore/service/MySavedStoreServiceImpl.java
  src/main/resources/static/css/badge.css
  src/main/resources/static/js/alertModal.js
  src/main/resources/static/js/badge.js
  src/main/resources/static/js/saved-store-search.js
  src/main/resources/templates/fragments/alert-modal.html
  src/main/resources/templates/mypage/badge.html
  src/main/resources/templates/mypage/main.html
  src/main/resources/templates/mypage/myBoard.html
  src/main/resources/templates/mypage/myComment.html
  src/main/resources/templates/mypage/savedStore.html
  src/main/resources/templates/mypage/subscription.html
Labels: ♻️ Refactor

#202 Fix/171 fix review ocr
  src/main/java/noodlezip/admin/controller/setting.txt
  src/main/java/noodlezip/community/controller/BoardController.java
  src/main/java/noodlezip/community/dto/MenuReviewDto.java
  src/main/java/noodlezip/community/service/BoardService.java
  src/main/java/noodlezip/community/service/BoardServiceImpl.java
  src/main/java/noodlezip/ocr/controller/OcrController.java
  src/main/java/noodlezip/ocr/dto/OcrRepDto.java
  src/main/java/noodlezip/ocr/service/OcrParser.java
  src/main/java/noodlezip/ocr/service/OcrService.java
  src/main/java/noodlezip/ocr/status/OcrErrorStatus.java
  src/main/java/noodlezip/ocr/status/OcrSuccessStatus.java
  src/main/java/noodlezip/ramen/repository/RamenReviewRepositoryImpl.java
  src/main/resources/static/css/ocr.css
  src/main/resources/templates/board/leave-review.html
  src/main/resources/templates/fragments/alert-modal.html
  src/main/resources/templates/receipt.html
Labels: 🐞 Fix, 🎨 Html&Css, 🧩 Validation, 🖥️ Backend

#205 Fix/188 mypage alert
  src/main/resources/static/js/alertModal.js
  src/main/resources/static/js/badge.js
  src/main/resources/static/js/saved-store-map.js
  src/main/resources/static/js/subscription.js
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/fragments/mainHeader.html
  src/main/resources/templates/mypage/badge.html
  src/main/resources/templates/mypage/myBoard.html
  src/main/resources/templates/mypage/myComment.html
  src/main/resources/templates/mypage/savedStore.html
  src/main/resources/templates/mypage/subscription.html
Labels: 🎨 Html&Css, 📜 JavaScript

#206 Feature: 폰트 삽입
  src/main/resources/static/admin_section/css/admin.css
  src/main/resources/static/css/home.css
  src/main/resources/static/css/listing.css
  src/main/resources/static/css/saved-store.css
  src/main/resources/static/css/style.css
  src/main/resources/static/font/AritaDotumKRBold.woff2
  src/main/resources/static/font/AritaDotumKRLight.woff2
  src/main/resources/static/font/AritaDotumKRMedium.woff2
  src/main/resources/static/font/AritaDotumKRSemiBold.woff2
  src/main/resources/static/font/AritaDotumKRThin.woff2
  src/main/resources/templates/fragments/head.html
Labels: 🎨 Html&Css

#209 Fix/198 버그 수정
  src/main/generated/noodlezip/store/entity/QStoreWeekSchedule.java
  src/main/java/noodlezip/community/controller/BoardController.java
  src/main/java/noodlezip/community/service/BoardService.java
  src/main/java/noodlezip/community/service/BoardServiceImpl.java
  src/main/java/noodlezip/community/status/BoardSuccessStatus.java
  src/main/java/noodlezip/report/status/ReportType.java
  src/main/resources/static/css/style.css
  src/main/resources/static/js/quill.js
  src/main/resources/templates/board/detail.html
  src/main/resources/templates/board/leave-review.html
  src/main/resources/templates/board/list.html
  src/main/resources/templates/board/registBoard.html
  src/main/resources/templates/fragments/boardSidebar.html
  src/main/resources/templates/signup.html
Labels: 🐛 Bug, ✨ Feature, 🐞 Fix

#207 Feature/내 매장 리스트 페이지, 추가토핑
  src/main/java/noodlezip/store/controller/StoreController.java
  src/main/java/noodlezip/store/controller/StoreRegistController.java
  src/main/java/noodlezip/store/dto/ExtraToppingRequestDto.java
  src/main/java/noodlezip/store/dto/MenuRequestDto.java
  src/main/java/noodlezip/store/dto/StoreRequestDto.java
  src/main/java/noodlezip/store/repository/StoreRepository.java
  src/main/java/noodlezip/store/service/LocationService.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/resources/static/css/store-regist.css
  src/main/resources/templates/store/my-stores.html
  src/main/resources/templates/store/regist.html
  src/main/resources/templates/store/update.html
Labels: ✨ Feature, 🎨 Html&Css, 🖥️ Backend, 🛢️ DB, 🧭 Routing, 🖱️ UX, 📜 JavaScript, 📝 CRUD

#213 fix: 에러 핸들러 분리
  src/main/java/noodlezip/common/exception/GlobalExceptionHandler.java
  src/main/java/noodlezip/common/exception/GlobalWebExceptionHandler.java
  src/main/java/noodlezip/community/controller/CommentController.java
  src/main/resources/templates/error/customError.html
Labels: 🐛 Bug, 🐞 Fix, 🔌 API, 📌 Priority

#216 fix: boardController 예외 처리 방식 변경
  src/main/java/noodlezip/community/controller/BoardController.java
  src/main/resources/static/js/quill.js
  src/main/resources/templates/board/detail.html
Labels: 🧹 Cleanup, ♻️ Refactor, 🖥️ Backend

#220 Feature: 매장 수정 페이지 최종
  src/main/java/noodlezip/store/controller/StoreController.java
  src/main/java/noodlezip/store/dto/ExtraToppingRequestDto.java
  src/main/java/noodlezip/store/dto/StoreRequestDto.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/resources/templates/store/regist.html
  src/main/resources/templates/store/update.html
  src/test/java/noodlezip/store/controller/StoreControllerUnitTest.java
  src/test/java/noodlezip/store/service/StoreServiceTest.java
Labels: ✨ Feature, 🐞 Fix, 🎨 Html&Css, 🖥️ Backend, 🛢️ DB, 🧭 Routing, 🖱️ UX, 📜 JavaScript, 📝 CRUD

#221 Feature/192 search more
  src/main/java/noodlezip/mypage/controller/MyPageMainController.java
  src/main/java/noodlezip/search/controller/SearchController.java
  src/main/java/noodlezip/search/dto/SearchFilterDto.java
  src/main/java/noodlezip/search/dto/SearchStoreDto.java
  src/main/java/noodlezip/search/service/SearchService.java
  src/main/java/noodlezip/store/controller/StoreController.java
  src/main/java/noodlezip/store/controller/StoreRegistController.java
  src/main/java/noodlezip/store/repository/StoreRepositoryImpl.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/resources/static/js/main_navermap.scripts.js
  src/main/resources/templates/error/customError.html
  src/main/resources/templates/fragments/searchModal.html
  src/main/resources/templates/fragments/subHeader.html
  src/main/resources/templates/mypage/fragments/mypage-sidebar.html
  src/main/resources/templates/search/listing-map.html
  src/main/resources/templates/store/detail.html
  src/main/resources/templates/store/fragments/tab-review.html
  src/test/java/noodlezip/search/service/SearchServiceTest.java
  src/test/java/noodlezip/store/controller/StoreControllerUnitTest.java
  src/test/java/noodlezip/store/service/StoreServiceTest.java
Labels: 🐞 Fix, ♻️ Refactor, 🧪 Test, 🎨 Html&Css, 🖥️ Backend, 📜 JavaScript

#223 FIx : 배지 이미지 fit css 수정
  src/main/resources/static/css/badge.css
Labels: 🎨 Html&Css

#226 Fix/224 폰트 버그 수정, 매장리뷰 연결 등
  src/main/java/noodlezip/community/controller/BoardController.java
  src/main/java/noodlezip/community/service/BoardService.java
  src/main/java/noodlezip/community/service/BoardServiceImpl.java
  src/main/java/noodlezip/store/dto/StoreDto.java
  src/main/resources/templates/board/leave-review.html
  src/main/resources/templates/board/registBoard.html
  src/main/resources/templates/index.html
  src/main/resources/templates/store/detail.html
  src/main/resources/templates/store/fragments/tab-review.html
Labels: 🐞 Fix, 🎨 Html&Css, 🖥️ Backend, 🖱️ UX, 📜 JavaScript

#228 Fix/218 improve latency
  src/main/java/noodlezip/NoodleZipApplication.java
  src/main/java/noodlezip/common/advice/PerformanceAspect.java
  src/main/java/noodlezip/common/config/SecurityConfig.java
  src/main/java/noodlezip/common/exception/GlobalWebExceptionHandler.java
  src/main/java/noodlezip/user/controller/UserController.java
  src/main/java/noodlezip/user/service/EmailVerificationService.java
  src/main/resources/static/css/style.css
Labels: 🐛 Bug, 🧹 Cleanup, ♻️ Refactor

#229 develop 성능 개선, 디버깅 등
  src/main/java/noodlezip/NoodleZipApplication.java
  src/main/java/noodlezip/common/advice/PerformanceAspect.java
  src/main/java/noodlezip/common/config/SecurityConfig.java
  src/main/java/noodlezip/common/exception/GlobalWebExceptionHandler.java
  src/main/java/noodlezip/community/controller/BoardController.java
  src/main/java/noodlezip/community/service/BoardService.java
  src/main/java/noodlezip/community/service/BoardServiceImpl.java
  src/main/java/noodlezip/store/dto/StoreDto.java
  src/main/java/noodlezip/user/controller/UserController.java
  src/main/java/noodlezip/user/service/EmailVerificationService.java
  src/main/resources/static/css/badge.css
  src/main/resources/static/css/style.css
  src/main/resources/templates/board/leave-review.html
  src/main/resources/templates/board/registBoard.html
  src/main/resources/templates/index.html
  src/main/resources/templates/store/detail.html
  src/main/resources/templates/store/fragments/tab-review.html
Labels: 🚀 Deploy

#231 fix: 최근 게시물 보여주기 관련 쿠키 생성 로직 수정
  src/main/java/noodlezip/common/config/SecurityConfig.java
  src/main/java/noodlezip/common/util/CookieUtil.java
  src/main/resources/templates/fragments/boardSidebar.html
Labels: 🐛 Bug, 🐞 Fix

#233 Fix: alert 창 fragment 적용
  src/main/java/noodlezip/store/controller/StoreController.java
  src/main/java/noodlezip/store/controller/StoreRegistController.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/resources/templates/store/my-stores.html
  src/main/resources/templates/store/regist.html
  src/main/resources/templates/store/update.html
Labels: 🎨 Html&Css

#240 Fix/238 image size
  src/main/resources/templates/store/my-stores.html
  src/main/resources/templates/store/regist.html
  src/main/resources/templates/store/update.html
Labels: 🐞 Fix, 🎨 Html&Css, 🖱️ UX

#242 Fix/235 메인페이지 uI 제작, 거리 검색 쿼리 변경
  src/main/java/noodlezip/main/controller/MainController.java
  src/main/java/noodlezip/ramen/repository/RamenReviewRepository.java
  src/main/java/noodlezip/ramen/repository/RamenReviewRepositoryCustom.java
  src/main/java/noodlezip/ramen/repository/RamenReviewRepositoryImpl.java
  src/main/java/noodlezip/store/repository/StoreRepositoryCustom.java
  src/main/java/noodlezip/store/repository/StoreRepositoryImpl.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/resources/static/css/home.css
  src/main/resources/static/img/ramen_rest.jpg
  src/main/resources/templates/index.html
Labels: 🐞 Fix, 🎨 Html&Css, 🖥️ Backend

#244 게시물 상세보기 뷰에서 마이페이지 연결
  src/main/resources/templates/board/detail.html
Labels: 🐛 Bug

#245 Fix/237 review taste
  src/main/java/noodlezip/community/controller/BoardController.java
  src/main/java/noodlezip/ramen/entity/RamenReview.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/resources/templates/board/leave-review.html
  src/test/java/noodlezip/store/service/StoreServiceTest.java
Labels: 🐛 Bug, 🐞 Fix

#248 Feature/246 매장상세 영업시간 추가
  src/main/java/noodlezip/store/dto/StoreDto.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/resources/templates/store/fragments/tab-basic-info.html
Labels: 🎨 Html&Css, 🖥️ Backend, 📝 CRUD

#251 Fix/247 마이페이지 프로필 변경 경로 수정 및 배지 수정
  src/main/java/noodlezip/badge/service/process/level/RamenReviewCategoryBadge.java
  src/main/java/noodlezip/user/controller/UserController.java
  src/main/resources/templates/mypage/main.html
Labels: 🐞 Fix, ♻️ Refactor

#260 Fix/252 store update
  src/main/java/noodlezip/report/controller/ReportController.java
  src/main/resources/static/js/bootstrap.bundle.js
  src/main/resources/static/js/bootstrap.bundle.min.js
  src/main/resources/static/js/bootstrap.min.js
  src/main/resources/static/js/reportModal.js
  src/main/resources/templates/board/detail.html
  src/main/resources/templates/fragments/reportModal.html
  src/main/resources/templates/mypage/fragments/mypage-sidebar.html
  src/main/resources/templates/mypage/main.html
Labels: 🐛 Bug, 🐞 Fix, 🎨 Html&Css, 📜 JavaScript

#263 Fix/262 게시글 상세페이지 UI 수정 및 댓글 링크 변경
  src/main/resources/templates/board/detail.html
  src/main/resources/templates/board/list.html
Labels: 🎨 Html&Css

#275 Fix: rollback 더미리뷰, url 수정
  src/main/java/noodlezip/community/controller/BoardController.java
  src/main/resources/static/css/color-orange.css
  src/main/resources/templates/receipt.html
  src/main/resources/templates/store/detail.html
Labels: 🎨 Html&Css, 🖥️ Backend
