Repository 20250123-SSG/final-noodle-zip, pull requests merged in 2025-06, with the labels that each got.

#79 Setting: 폴더링 및 세팅 파일 추가
  .github/PULL_REQUEST_TEMPLATE.md
  src/main/java/noodlezip/admin/controller/setting.txt
  src/main/java/noodlezip/admin/dto/setting.txt
  src/main/java/noodlezip/admin/entity/setting.txt
  src/main/java/noodlezip/admin/repository/setting.txt
  src/main/java/noodlezip/admin/service/setting.txt
  src/main/java/noodlezip/advice/ExceptionController.java
  src/main/java/noodlezip/config/setting.txt
  src/main/java/noodlezip/main/controller/setting.txt
  src/main/java/noodlezip/main/dto/setting.txt
  src/main/java/noodlezip/main/entity/setting.txt
  src/main/java/noodlezip/main/repository/setting.txt
  src/main/java/noodlezip/main/service/setting.txt
  src/main/java/noodlezip/ramen/controller/setting.txt
  src/main/java/noodlezip/ramen/dto/setting.txt
  src/main/java/noodlezip/ramen/entity/setting.txt
  src/main/java/noodlezip/ramen/repository/setting.txt
  src/main/java/noodlezip/ramen/service/setting.txt
  src/main/java/noodlezip/review/controller/setting.txt
  src/main/java/noodlezip/review/dto/setting.txt
  src/main/java/noodlezip/review/entity/setting.txt
  src/main/java/noodlezip/review/repository/setting.txt
  src/main/java/noodlezip/review/service/setting.txt
  src/main/java/noodlezip/store/controller/setting.txt
  src/main/java/noodlezip/store/dto/setting.txt
  src/main/java/noodlezip/store/entity/setting.txt
  src/main/java/noodlezip/store/repository/setting.txt
  src/main/java/noodlezip/store/service/setting.txt
  src/main/java/noodlezip/users/controller/setting.txt
  src/main/java/noodlezip/users/dto/setting.txt
  src/main/java/noodlezip/users/entity/setting.txt
  src/main/java/noodlezip/users/repository/setting.txt
  src/main/java/noodlezip/users/service/setting.txt
  src/main/java/noodlezip/util/FileUtil.java
  src/main/java/noodlezip/util/OcrUtil.java
Labels: 🔧 Setting

#80 Feature/67 CICD 구현 완료
  .github/workflows/docker-CICD.yml
  Dockerfile
Labels: ✨ Feature, 🚀 Deploy

#86 Feature/68 sub header
  README.md
  build.gradle
  src/main/generated/noodlezip/users/entity/QUser.java
  src/main/java/noodlezip/auth/MyUserDetails.java
  src/main/java/noodlezip/config/security/SecurityConfig.java
  src/main/java/noodlezip/config/swagger/SwaggerConfig.java
  src/main/java/noodlezip/users/controller/UserController.java
  src/main/java/noodlezip/users/controller/setting.txt
  src/main/java/noodlezip/users/entity/User.java
  src/main/java/noodlezip/users/entity/UserType.java
  src/main/java/noodlezip/users/entity/setting.txt
  src/main/java/noodlezip/users/repository/UserRepository.java
  src/main/java/noodlezip/users/repository/setting.txt
  src/main/java/noodlezip/users/service/UserDetailsServiceImpl.java
  src/main/java/noodlezip/users/service/setting.txt
  src/main/resources/logback-slack.xml
  src/main/resources/static/css/bs-icon-font/bootstrap-icons.css
  src/main/resources/static/css/bs-icon-font/bootstrap-icons.json
  src/main/resources/static/css/bs-icon-font/bootstrap-icons.min.css
  src/main/resources/static/css/bs-icon-font/bootstrap-icons.scss
  src/main/resources/static/css/bs-icon-font/fonts/bootstrap-icons.woff
  src/main/resources/static/css/bs-icon-font/fonts/bootstrap-icons.woff2
  src/main/resources/static/css/icon_fonts/font/ElegantIcons.eot
  src/main/resources/static/css/icon_fonts/font/ElegantIcons.svg
  src/main/resources/static/css/icon_fonts/font/ElegantIcons.ttf
  src/main/resources/static/css/icon_fonts/font/ElegantIcons.woff
  src/main/resources/static/css/icon_fonts/font/Glyphter.eot
  src/main/resources/static/css/icon_fonts/font/Glyphter.svg
  src/main/resources/static/css/icon_fonts/font/Glyphter.ttf
  src/main/resources/static/css/icon_fonts/font/Glyphter.woff
  src/main/resources/static/css/style.css
  src/main/resources/templates/fragements/mainHeader.html
  src/main/resources/templates/fragements/subHeader.html
  src/test/java/noodlezip/users/service/UserDetailsServiceImplTest.java
Labels: ✨ Feature, 🐞 Fix

#92 Feature/7 regist api
  build.gradle
  src/main/generated/noodlezip/ramen/entity/QCategory.java
  src/main/generated/noodlezip/store/entity/QMenu.java
  src/main/generated/noodlezip/store/entity/QStore.java
  src/main/generated/noodlezip/store/entity/QStoreSchedule.java
  src/main/java/noodlezip/user/service/UserServiceImpl.java
  src/main/resources/static/js/common_func.js
  src/main/resources/static/js/common_scripts.min.js
  src/main/resources/templates/index.html
  src/test/java/noodlezip/user/repository/UserRepositoryTest.java
  src/test/java/noodlezip/user/service/UserDetailsServiceImplTest.java
  src/test/java/noodlezip/user/service/UserServiceImplTest.java
Labels: 🧪 Test, 🔧 Setting, 🛢️ DB

#95 Feature/36 menu list view 검색결과페이지
  src/main/java/noodlezip/common/config/NoodlezipConfig.java
  src/main/java/noodlezip/common/config/SecurityConfig.java
  src/main/java/noodlezip/ramen/entity/RamenSoup.java
  src/main/java/noodlezip/ramen/entity/RamenTopping.java
  src/main/java/noodlezip/ramen/entity/RamenToppingId.java
  src/main/java/noodlezip/ramen/entity/StoreExtraTopping.java
  src/main/java/noodlezip/search/controller/SearchController.java
  src/main/java/noodlezip/search/dto/SearchFilterDto.java
  src/main/java/noodlezip/search/dto/SearchStoreDto.java
  src/main/java/noodlezip/search/entity/setting.txt
  src/main/java/noodlezip/search/repository/setting.txt
  src/main/java/noodlezip/search/service/SearchService.java
  src/main/java/noodlezip/store/dto/StoreDto.java
  src/main/java/noodlezip/store/entity/Store.java
  src/main/java/noodlezip/store/entity/Topping.java
  src/main/java/noodlezip/store/repository/StoreRepository.java
  src/main/java/noodlezip/store/repository/StoreRepositoryCustom.java
  src/main/java/noodlezip/store/repository/StoreRepositoryImpl.java
  src/main/resources/application.properties
  src/main/resources/logback-console.xml
  src/main/resources/static/css/listing.css
  src/main/resources/static/js/common_scripts.min.js
  src/main/resources/static/js/main_mapfull_scripts.js
  src/main/resources/static/js/main_navermap.scripts.js
  src/main/resources/static/js/specific_listing.js
  src/main/resources/static/js/sticky_sidebar.min.js
  src/main/resources/templates/search/listing-map.html
  src/test/java/noodlezip/search/controller/SearchControllerTest.java
Labels: 🔌 API, 🎨 Html&Css, 🖥️ Backend, 🛢️ DB, 📜 JavaScript, 📝 CRUD

#98 Feature/36 menu list view
  src/main/java/noodlezip/ramen/entity/Category.java
  src/main/java/noodlezip/ramen/entity/RamenSoup.java
  src/main/java/noodlezip/ramen/entity/RamenToppingId.java
  src/main/java/noodlezip/ramen/entity/Topping.java
  src/main/java/noodlezip/ramen/repository/CategoryRepository.java
  src/main/java/noodlezip/ramen/repository/RamenSoupRepository.java
  src/main/java/noodlezip/ramen/repository/RamenToppingRepository.java
  src/main/java/noodlezip/ramen/repository/StoreExtraToppingRepository.java
  src/main/java/noodlezip/ramen/repository/ToppingRepository.java
  src/main/java/noodlezip/ramen/repository/setting.txt
  src/main/java/noodlezip/search/dto/SearchStoreDto.java
  src/main/java/noodlezip/store/dto/StoreDto.java
  src/main/java/noodlezip/store/dto/StoreRequestDto.java
  src/main/java/noodlezip/store/entity/Menu.java
  src/main/java/noodlezip/store/entity/Store.java
  src/main/java/noodlezip/store/repository/StoreRepositoryImpl.java
  src/main/java/noodlezip/store/service/StoreService.java
  src/main/resources/static/js/main_navermap.scripts.js
  src/main/resources/templates/search/listing-map.html
  src/test/java/noodlezip/search/controller/SearchControllerTest.java
Labels: 🐞 Fix, 🧪 Test, 🎨 Html&Css, 🖥️ Backend, 🛢️ DB
